.rooms-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     
}
@media screen and (max-width : 568px ) and ( min-width: 300px) {
    .rooms-main h1{
        font-size: 10px;
    }
}